@import 'styles/variables.less';

.drop-down{
    display: none;
    &.show{
        display:block;
    }
}

.admin-select{
    position: absolute;
    width: 155px;
    height: 40px;
    right: 9px;
    top: 0;
    font-family: open-sans, sans-serif;
}

.admin-select-pane{
    background: @darkGrey;
    color: @greyFont;
    position: absolute;
    right:0;
    .user-select{
        padding: 5px 35px 5px 35px;
        cursor: pointer;
        &:hover{
            background:@selectedDarkGrey;
        }
    }
    &.show{
        display: block;
    }
}

i.nav-angle.fa.fa-angle-down {
    font-size: 25px;
    padding-top: 4px;
    display: inline-block;
    transform: translate(0,3px)
}

.select{
    background: @bgDarkGrey;
    color: @midGrey;
    span.text{
      padding-left: 10px;
      padding-right: 10px;
      font-size:12px;
    }   
}

.arrow{
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid @darkGrey;
    margin-left: 124px;
}
