@import 'styles/variables.less';

.intro-title {
    height: 60px;
    width: 189px;
    margin: 0px auto;
    margin-bottom: 20px;
   i.pokerchips {
    background: #fff;
    width: 58px;
    font-size: 35px;
    height: 58px;
    padding-top: 12px;
    z-index: 10;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 6px;
    float: left
   }
  .title-container {
    h1.main-title {
      color: #fff;
      color: white;
      font-family: open-sans,sans-serif;
      font-size: 25px;
      float: left;
      padding: 0;
      margin:0;
    }
  }
}


.intro-modal{
    width: 500px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  .login-container {
    width: 300px;
    margin: 15px auto;
  }

  button.asana-button {
    width: 100%;
    background-color: #385592;
    color: white;
    border: none;
    border-radius: 30px;
    height: 28px;
    font-size: 12px;
    letter-spacing: 1.35px;
    cursor: pointer;
  }

  input.room-name-input, input.room-link-input {
    font-size: 13px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background: @greyPanel;
    margin-top: 12px;
    padding: 5px;
    color: @textGrey;
    &.password{
      visibility: hidden;
      &.password-on{
        visibility: visible;
      }
    }
  }

  button.btn.roomname {
    height: 28px;
    background: @loginBtn;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 30px;
    width: 100px;
    letter-spacing: 1.35px;
    cursor: pointer;
    &:hover{
      background: @loginBtnHighlight;
    }
  } 

  .private-option{
    height: 26px;
    width: 100%;
    border-radius: 4px;
    border: none;
    margin-top: -20px;
    padding: 5px;
    text-align: left;
    color: @greyFont;
    font-family: @mainFont;
    font-size: 12px;
    position: relative;
    transition: .5s margin;
    &.private-on{
       margin-top: 12px;
    }
    .toggleTrack {
      height: 20px;
      position: relative;
      background: black;
      width: 40px;
      position: absolute;
      right: 0px;
      top: 5px;
      border-radius: 30px;
      border: 2px solid grey;
      transition: .8s background-color;
      .toggleThumb {
        height: 22px;
        width: 22px;
        background: #A0A0A0;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        right: 17px;
        box-shadow: 1px 1px 5px black;
        cursor: pointer;
        transition: .4s transform;
        &:hover{
          color: white;
        }
      }
      &.password-on{
        background: @loginBtnHighlight;
        border: 2px solid @loginBtnHighlight;
        .toggleThumb{
          transform: translateX(18px);
        }
      }
    }

  } 
}

.or-contianer {
    margin-top: 14px;
    height: 35px;
    width: 100%;
    font-family: sans-serif;
    font-size: 13px;
  .or-line-left {
    float:left;
    width:134px;
    height:25%;
    border-bottom: 1px solid @textGrey;
  }
 .or {
    float:left;
    color:  @textGrey;
    margin-right: 5px;
    margin-left: 5px;
  }
  .or-line-right {
    float:left;
    width:134px;
    height:25%;
    border-bottom: 1px solid @textGrey;
  }
}

p.link-text {
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 35px;
    margin-bottom: 5px;
}
