@import 'styles/variables.less';

 .intro-modal{
    height: 260px;
    width: 500px;
    background: #BB4F4F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
    background-image: url('./images/cards.jpg');
 }