@import 'styles/variables.less';
@import 'styles/mixins.less';

.message-panel {
    position: absolute;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    width: 250px;
    padding-bottom: 160px;
    padding-top: 190px;
    .message-panel-container{
        height: 100%;
        width: 100%;
        background: @darkGrey;
        position: relative;
        padding-bottom: 85px;
        .message_area {
            border: 1px solid #000;
            position: relative;
            border-radius: 5px;
            overflow-y: auto;
            width: 100%;
            height: 100%;
            top: 0;
            ul.messages {
                padding-right: 5px;
                padding-left: 5px;
                position: absolute;
                width: 100%;
                li{
                    display: block;
                    background: @selectedDarkGrey;
                    margin: 1px auto;
                    padding: 0;
                    border-radius: 5px;
                    padding: 9px;
                    font-size: 14px;
                    color: @white;
                    margin: 4px;
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    word-wrap: break-word;
                    .time-stamp{
                        color: @greyFont;
                        display: block;
                        font-size: 12px;
                        text-align: right;
                    }
                }
            }
        }
    }
}


.user-info{
    background: @selectedDarkGrey;
    position: absolute;
    height: 86px;
    bottom: 0;
    width: 100%;
    color: @midGrey;
    text-shadow: 0px 0px 1px black;
    font-family: open sans, sans-serif;
    font-size: 14px;
    text-shadow: 0px 0px 1px black;
    font-family: open sans, sans-serif;
    font-size: 14px;
    padding: 5px;
     padding-left:10px;
    .username, .roomname{
        cursor: pointer;
        &:hover{
            color: @lightGrey;
        }
    }
    button{
    background: none;
    border: 1px solid #828282;
    color: @midGrey;
    height: 25px;
    margin-left: 5px;
      &:hover{
        border: 1px solid @limeGreen;
      }
      &:focus{
        outline: 0;
      }
    }
}

.user-info{
    .username{
       padding-bottom:5px;
    }
    .roomname{
        padding-bottom:5px;
    }
}

.message-input{
    position:relative;
    .fa-commenting.message-icon {
        position: absolute;
        left: 8px;
        top: 10px;
        border: none;
        color: white;
    }
    input.message-entry {
        border-radius: 20px;
        height:25px;
        border: none;
        width: 180px;
        margin-top: 5px;
        padding-left:27px;
        .placeholder({
            color: @midGrey;
            padding-top: 10px;
            });
        &:focus{
            outline: 0;
        }
    }

    .fa-commenting{
        color: @midGrey;
    }
}


