@import 'styles/variables.less';

.task-controls {
  background-color: @bgDarkGrey;
  color: @white;
  margin: 0px auto;
  text-align: center;
  .play{
    border-radius: 50%;
    border: 1px solid @white;
    margin: 10px;
    width: 30px;
    padding-top: 7px;
    padding-left: 3px;
    height: 30px;
    &:hover{
      border: 1px solid @playGreen;
    }
  }
}

